/* Enlaza este archivo en index.html y comienza a trabajar aquí */

/* === Estilos de cabecera === */
header { background-color: lightblue; }

/* === Estilos de títulos === */
h1 { color: darkgreen; }

/* === Estilos de párrafos === */
p { color: #333; }

/* Añade más comentarios explicando decisiones, pruebas, notas técnicas */
/*TODO: aÑADIR MÁS ESTILOS PARA MEJORAR LA APARIENCIA DE LA PÁGINA*/