/* Establece una tipografía base en body (herencia) */
body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

/* Selector de elemento (ej.: header o p) */

p {
	text-align: center;
}

/* Selector de clase (ej.: .destacado) */
.destacado {
	color: brown;
}

/* Selector de ID (ej.: #hero) */
#hero {
	background-color:antiquewhite;
	padding: 1rem;
}

/* Selector descendiente (ej.: main p) */
main p {
	font-style: oblique;
}

/* Selector agrupado (ej.: h1, h2) */
h1, h2 {
	color: brown;
}

/* Conflicto intencionado para ver la cascada y la especificidad*/
p {
	color:blue
}
.destacado {
	color:red
}
